@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

html {
    font-feature-settings: "lnum";
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #dadada;
}

body {
    margin: 0;
    background: #303030;
    background: linear-gradient(114deg, #373737 40%, #303030 40%);
    background-attachment: fixed;
}

.img-holder {
    height: 100%;
    position: relative;
    transition: ease-in-out .5s;
    padding: 0 0;
}

#logo-img {
    height: 5vh;
    padding: 0 0 0 5px;

}

.img-holder:hover {
    transform: scale(1.1, 1.1);
}

#header {
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    position: relative;
}

#header a {
    float: left;
    color: #dadada;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: ease-in-out .2s;
}

#header a:hover {
    color: #303030;
    background-color: #ff4747;
    transform: rotateZ(3deg);
}

.header-right {
    float: right;
}

#dev-title {
    font-weight: 700;
    font-size: clamp(2rem, 5vw, 10rem);
    margin: 2.5%;
}

#icons {
    display: flex;
    flex-flow: row wrap;
    max-width: 5vw;
    align-items: center;
    list-style-type: none;
    margin: 2.5%;
}

#icons > li {
    width: 10px;
}

.icon-list-img {
    height: 5vh;
}

@media screen and (max-width: 500px) {
    #header a {
        float: none;
        display: block;
        text-align: left;
        transition: none;
    }

    .header-right {
        float: none;
    }
}