@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #eb434a;
    margin: 0 0 0 0;
}

canvas {
    position: fixed;
    z-index: -1;
}

#content {
    font-family: Roboto, serif;
    text-align: center;
    color: white;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    transition: all ease-in-out 250ms;
}
.button:hover {
    transform: scale(1.1, 1.1);
}

#images {

}

.nav-bar {
    width: 99%;
    margin: 0 auto;
}

header {
    font-family: Roboto, sans-serif;
    background: ghostwhite;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 3%;
    height: 3%;
    object-fit: contain;
    padding: 10px 0;

    /*transition: all ease-in-out 250ms;*/
}

.logo:hover {
    /*transform: scale(1.1, 1.1);*/
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    /*margin-left: 70px;*/
    margin: 0 30px;
    padding-top: 27px;

    position: relative;
}

nav a {
    color: #eb434a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

    transition: all ease-in-out 250ms;
}


nav a:hover {
    color: #77252c;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #eb434a;

    position: absolute;
    top: 100%;
    width: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
